input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    outline: none;
}
button {
    outline: none;
    border: none;
    background: #ff5035;
    border-radius: 0;
    font-size: 16px;
    padding: 5px 10px;
}
div {
    color:#00ff00;
}

.some-class {
    color:#ff0000;
}

#someId {
    color:#0000ff;
}